parameters:
	level: 4
	phpVersion: 70400 # PHP 7.4
	paths:
		- src
	excludePaths:
		- src/FHTML/*
	ignoreErrors:
		- '#Constant [a-zA-Z0-9\\_]+ not found.#'
		- '#Binary operation "|" between 2 and .. results in an error.#'
