<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		colors="true"
		verbose="true"
		processIsolation="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		bootstrap="bootstrap.php">
	<!-- <coverage> -->
		<!-- <include> -->
			<!-- <directory suffix=".php">../../src</directory> -->
		<!-- </include> -->
		<!-- <report> -->
			<!-- <html outputDirectory="./_coverage" lowUpperBound="35" highLowerBound="70"/> -->
			<!-- <text outputFile="php://stdout" showUncoveredFiles="true"/> -->
		<!-- </report> -->
	<!-- </coverage> -->
	<testsuites>
		<testsuite name="main">
			<directory suffix="formhandler_AutocompleteTest.php">./</directory>
		</testsuite>
	</testsuites>
</phpunit>
